*{
    margin: 0;
    padding: 0;
}
.navbar{
    margin: auto;
}
.nav-list{
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
}
.text{
  /*  background-color: darkgoldenrod; */
    width:50%;
    color: rgb(74, 181, 231);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.TTLogo{
    width: 50%;
    margin: auto;
}
.TTLogo img{
   width: 150px;
 
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.Social-contact{
  
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    text-align: center;
}
.logo{
    width: 800px;
}

.logo a{
    font-size: 20px;
    color: black;
    margin: auto;
    font-weight: 500;
    
}
.logo a img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    padding: 10px;
}
.container{
    width: 400px;
   /* background-color: chartreuse; */
}
 
  .address{
    
      border-left: 6px solid green;
      height: 300px;
      text-align: center;
      padding: 20px;
  }
  .address h2{
      font-weight: bolder;
      font-size: 25px;
      color: darkblue;
  }
  .address p{
      font-size: 18px;
  }
@media (max-width:1085px)
{
    
    .address{
        text-align: center;
        border: hidden;
        
        margin: auto;
    }
    .logo{
        margin: auto;
    }
    .hl{
        color: green;
        border-top: 5px solid green;
        width: 100%;
    }
}
  