*{
    margin: 0;
    padding: 0;
}

.text{
  /*  background-color: darkgoldenrod; */
    width:55%;
    padding-left:35px;
    color: rgb(74, 181, 231);
    font-weight: bold;
    font-size: 45px;
}

.TTLogo{
    width: 45%;
    padding-right: 200px;
    padding-top: 20px;
}
.TTLogo img{
   width: 30%;
   float: right;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.logo{
    width: 1000px;
    padding-top: 80px;
}
.address {
    width: 40%;
}
.logo a{
    font-size: 25px;
    color: black;
    margin: 20px;
    font-weight: 900;
}
.logo a img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.container{
    width: 400px;
}

.vl {
    border-left: 6px solid green;
    height: 700px;

  }
  hr{
      display: none;
  }
  .address{
      margin: 80px;
  }
  .address h2{
      font-weight: bolder;
      font-size: 35px;
      color: darkblue;
  }
  .address p{
      font-size: 25px;
     padding: 15px;
  }

  @media (max-width:1945px)
  {
      .vl{
          display: none;
      }
      hr{
          display: block;
          width: 100%;
          border: 8px solid green;
          color: green;
      }
  }
@media (max-width:1200px) {
    .TTLogo img{
        width:200px;   
     }
     .nav-list{
         display: block;
         justify-content: center;
         align-items: center;
     }
}
